@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Fira Sans', sans-serif;
  }
}

@layer components {
  .myLink { @apply bg-bgGradient px-3 py-2 hover:bg-[position:100%] transition-all duration-[.7s] homePhone:bg-[length:250%] rounded-t-md}
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(85, 84, 84);
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(51, 49, 49);
  border-radius: 10px;
  border: 3px solid rgb(51, 49, 49);
}
